{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Вопрос на понимание
{% endblock %}

{% block content %}


{% if player.training_answer == Constants.training_answer_correct %}
    <p class="text-success">
    Ваш ответ {{player.training_answer}} верен.
    </p>
{% else %}
    <p class="text-danger">
    Ваш ответ {{player.training_answer}} для гражданина не верен.

    </p>
{% endif %}
    <p>
        Перед тем, как приступить к эксперименту, запомните, что <b>Вам требуется оценивать каждое действие с точки зрения
        социальной приемлемости, а не с точки зрения того, на сколько действие является приемлемым лично для вас</b>.
    </p>
    <p>
        Нажмите Далее, чтобы перейти к описанию ситуаций и начать участие в эксперименте.
    </p>

{% next_button %}
{% endblock %}