{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкция (часть 1 из 2)
{% endblock %}

{% block content  %}
<p>
    Перед Вами будут представлены <b>описания ряда ситуаций</b>. Каждое описание
    соотносится с ситуацией, в которой человек должен принять решение. Данные
    описания будут содержать несколько возможных опций, доступных для выбора,
    скажем, индивиду А.
</p>
<p>
    После того, как Вы прочитаете описание ситуации, Вам будет необходимо
    <b>оценить различные опции</b>, доступные для выбора индивиду А, и для каждого из
    представленных действий решить, <b>является ли выполнение данного действия
    "социально приемлемым"</b> и "соответствующим нравственному и надлежащему
    социальному поведению" <b>или "социально неприемлемым"</b> и " не соответствующим
    нравственному и надлежащему социальному поведению".
</p>
<p>
    Под <b>социально приемлемым</b> подразумевается поведение, которое <b>большинство
    людей считает "правильным" и "этичным"</b>. Другими словами, если бы индивид А
    сделал выбор в пользу социально неприемлемого действия, данное поведение
    могло бы разозлить какого-либо другого индивида. Оценка социальной
    приемлемости осуществляется по шкале от -2 до 2:
</p>
<p>
<table border="1", align="center">
  <tr align="center">
    <th>Значение</th>
    <th>Оценка</th>
  </tr>
  <tr>
    <td align="center">Социально неприемлемое поведение</td>
    <td align="center">-2</td>
  </tr>
  <tr>
    <td align="center">В некоторой степени социально неприемлемое поведение</td>
    <td align="center">-1</td>
  </tr>
  <tr>
    <td align="center">Нейтральное поведение</td>
    <td align="center">0</td>
  </tr>
  <tr>
    <td align="center">В некоторой степени социально приемлемое поведение</td>
    <td align="center">+1</td>
  </tr>
  <tr>
    <td align="center">Социально приемлемое поведение</td>
    <td align="center">+2</td>
  </tr>
</table>
</p>
<p>
    Мы убедительно просим вас <b>основываться на вашем представлении о том, какое поведение
    считается приемлемым/неприемлемым в обществе</b>.
</p>
    {% next_button %}
{% endblock %}