{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкция (часть 2 из 2)
{% endblock %}

{% block content  %}
<p>
    Далее представлено <b>описание игры</b>, в рамках которой Вы будете оценивать возможные действия индивида в различных ситуациях.
    После того, как Вы выставите все свои оценки, компьютер случайным образом выберет действие в одной из ситуаций для начисления вознаграждения.
    Компьютером будет подсчитана <b>наиболее часто встречающаяся оценка данного действия индивида среди участников экперимента</b>.
    Если <b>Ваш ответ</b> в выбранной ситуации и варианте действия <b>совпадёт</b> с наиболее часто встречающимся ответом среди участников эксперимента,
    то Вы <b>дополнительно получите вознаграждение</b> в размере {{ Constants.prize }}.
</p>
<p>
    Далее ознакомьтесь с описанием игры, в рамках которой Вы будете оценивать различные действия. <b>Вы сами не принимаете
    участие в описанной ниже игре</b>, а лишь оцениваете действия индивида в определенных ситуациях.
</p>
<p>
    <b>Описание игры.</b> Случайным образом каждому участнику присвоена роль чиновника или гражданина и сформированы пары.
    В момент начала игры у каждого участника есть {{ Constants.endowment_citizen }}.
</p>
<p>
    Игра состоит из двух этапов. На первом этапе гражданин получает задание, которое он должен выполнить. В случае успешного выполнения задания гражданину <b>положен приз</b> в размере {{ Constants.prize }}. Если
    гражданин не справляется с заданием, то он остается с первоначальной суммой. Тем не менее приз не выдается
    автоматически.
</p>
<p>
    На втором этапе чиновник проверяет задание и получает зарплату в размере {{ Constants.salary_po }}. После проверки
    задания чиновник может потребовать от гражданина взятку в обмен на выдачу <b>положенного приза</b>. Размер взятки
    может составлять до {{ Constants.bribe_max }}. Также чиновник может принять решение не просить взятку и после
    проверки сразу отдать приз гражданину. Если чиновник требует взятку, то гражданин может отказаться ее давать, но при этом гражданин не получит
    приз и останется с первоначальной суммой.
</p>
<p>
    <b>Пример:</b> Гражданин успешно выполняет задание. Ему положен приз в размере {{ Constants.prize }}. Чиновник просит у гражданина
    взятку {{ Constants.example_1}} в обмен на выдачу приза. Гражданин соглашается дать взятку. Чиновник зарабатывает {{ Constants.endowment_po }} (начальная сумма) + {{ Constants.salary_po }} (зарплата)
    +  {{ Constants.example_1}} = {{ Constants.example_1_answer_po}}, гражданин зарабатывает {{ Constants.endowment_citizen }} (начальная сумма) +
    {{ Constants.prize }} (приз) - {{ Constants.example_1}} = {{ Constants.example_1_answer_citizen }}.
</p>
{% next_button %}
{% endblock %}