{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Добро пожаловать!
{% endblock %}

{% block content  %}
<p>
    Сегодня Вы принимаете участие в эксперименте по принятию решений,
    в ходе которого Вы можете заработать деньги. За участие Вы получите {{ Constants.endowment }}.
    Сумма денег, которую Вы заработаете дополнительно, будет зависеть от Ваших решений и от решений других участников
    эксперимента. Выплата денег будет осуществлена в течение дня после проведения эксперимента.
</p>
<p>
    В ходе эксперимента ответы участников анонимны. В дальнейшем все ответы будут использованы
    в агрегированном формате. Эксперимент займет приблизительно тридцать минут.
</p>
    {% formfields %}

    {% next_button %}
{% endblock %}