{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Вопрос на понимание
{% endblock %}

{% block content %}
<p>
    Представьте, что Вы оценили действие чиновника, который не просит взятку, как социально
    приемлемое (оценка +2). Компьютер случайным образом выбрал данное действие для начисления вознаграждения.
    Далее компьютером была подсчитана наиболее часто встречающаяся оценка данного действия среди участников
    эксперимента и был получен результат +2.

</p>

{% formfield player.training_answer label="Сколько Вы заработаете?" %}

<p>
    <b> Инструкция.</b> За участие Вы получите {{ Constants.endowment }}. После того, как Вы выставите все свои оценки, компьютер случайным образом выберет действие в одной из ситуаций для начисления вознаграждения.
    Компьютером будет подсчитана <b>наиболее часто встречающаяся оценка данного действия индивида среди участников экперимента</b>.
    Если <b>Ваш ответ</b> в выбранной ситуации и варианте действия <b>совпадёт</b> с наиболее часто встречающимся ответом среди участников эксперимента,
    то Вы <b>дополнительно получите вознаграждение</b> в размере {{ Constants.prize }}.
</p>



{% next_button %}
{% endblock %}