{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Часть 2 из 3.
{% endblock %}

{% block content  %}
<p>
    Сейчас вам необходимо угадать каким образом отвечали на два последних вопроса предыдущие участники эксперимента.
    В конце эксперимента случайным образом будет выбрано одно из двух утверждений. <b>Вы получите дополнительно 200 рублей, если ваш ответ совпадёт с ответом, которые участники выбирали чаще всего.</b>
</p>
    {% formfields %}

    {% next_button %}
{% endblock %}