{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {{ if monitor == True }}
    Оценка действий. Часть 1 из 2.
    {{ else }}
    Оценка действий.
    {{ endif }}
{% endblock %}

{% block content  %}
<p>
    Выберите оценку для каждого действия. Напоминаем, что в конце эксперимента случайным образом будет выбрано одно действие. <b>Вы получите вознаграждение 25 очков, если ваша оценка этого действия совпадёт с наиболее встречающейся среди всех участников в данной комнате.</b>
</p>
    {% formfields %}

    {% next_button %}
{% endblock %}